### Java ###
*.class
*.jar
*.war

### Eclipse ###
.project
.classpath
.settings
.metadata/
/bin/

### Gradle ###
.gradle
#!gradle-wrapper.jar
#!gradle/wrapper/gradle-wrapper.jar
/build/

### Mac ###
.DS_Store
